body {
    background-image: url('https://khoinguonsangtao.vn/wp-content/uploads/2021/10/background-anime-4k.jpg');
    background-size: cover;
    background-position: top;
    font-family: Arial, sans-serif;
    color: #f0;
    text-align: center;
    padding-top: 100px;
}

#clock {
    font-size: 3em;
}

#time {
    font-weight: bold;
}

#date {
    font-size: 0.5em;
}
